/* start the navbar*/
.navbar {
    margin-top: 10px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.logo {
    width: 3.5vw;
    min-width: 35px;
    cursor: pointer;
    margin-left: 15px;
}
.menu_icon {
    position: absolute;
    visibility: hidden;
    top: 10px;
    width: 40px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
/* end navbar*/
@media screen and (max-width:1044px) {

    /*mobile navbar start*/
    .navbar {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        color: whitesmoke;
    }

    .logo {
        width: 4vw;
        cursor: pointer;
        margin-left: 25px;
    }

    .menu_icon {
        position: absolute;
        right: 75px;
        top: 10px;
        width: 40px;
        cursor: pointer;
    }

    .nav-links {
        display: flex;
        justify-content: center;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    nav {
        flex: 1;
        text-align: right;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 30px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
    }
}
    /*mobile navbar end*/
    /* responsiv for mobile device*/

@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }

    .menu_icon {
        visibility: visible;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 15px;
    }

    .nav-links {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: rgba(163, 148, 124, 0.664);
        margin-top: -90vh;
        transition: all 0.5s ease;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 80%;
    }
}