*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
background-color:#414146;
}
/* navbar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links a:visited{
    color: #000;
}
.nav-links a:hover{
    color: #6b5858;
}
.navbar ul{
    list-style: none;
}
.nav-links{
    display: flex;/* tobe horezintal*/
    align-items: center;

}
.nav-links li{
margin: 0 30px;
}
    

header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #613737;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 15px;
}
.ctn{
    padding: 8px 15px;
    background-color:#613737 ;
    border-radius: 30px;
    color: whitesmoke;
}
.logo{
    width: 88px;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* regions*/
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    text-shadow: 4px 4px 10px #442b2b;
}
.row{
    display: flex;
    align-items: center;
    width: 80vw;
    hight:100vh;
    justify-content: space-between;
    /* border: 3px solid red; */
    
}
.row .colm img{
    width: 30vw;
    height: 30vh;
    margin-left: 5vw;
margin-right: 10vw;  
  border-radius: 5px;
  
}
.row h4,p{
    margin-left: 10%;
    margin-bottom: 5%;


}
.row .ctn{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: -10%;
}

/**/
/* responsiv for mobile device*/
@media only screen and (max-width:850px){
    .menu{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #414146;
        margin-top: -900px;
        transition: all 0.5s;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 80%;
    }
    .nav-links li{
        margin: 30px auto;
    }
}