*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,html{
background-color:#0f0f0f8e;
overflow-x: hidden;

}
/* navbar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links a:visited{
    color: #000;
}
.nav-links a:hover{
    color: #6b5858;
}
.navbar ul{
    list-style: none;
}
.nav-links{
    display: flex;/* tobe horezintal*/
    align-items: center;

}
.nav-links li{
margin: 0 30px;
}
    

header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/b.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 500px;
    height: 4px;
    background: #464545;
    margin: 10px auto;
    border-radius: 10px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 15px;
}
.ctn{
    padding: 8px 15px;
    background-color:#464545 ;
    border-radius: 30px;
    color: whitesmoke;
}
.logo{
    width: 90px;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* regions*/
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    text-shadow: 4px 4px 10px #636363;
}
.row{
    display: flex;
    align-items: center;
    width: 80vw;
    hight:100vh;
    justify-content: space-between;
    /* border: 3px solid red; */
    
}
.row .colm img{
    width: 30vw;
    height: 30vh;
    margin-left: 5vw;
margin-right: 10vw;  
  border-radius: 5px;
  
}
.row h4,p{
    margin-left: 10%;
    margin-bottom: 5%;


}

.row h4{
    font-size: 3vmin;
    margin: 20px auto;   
     margin-left: 20%;

}
.row p{
    padding: 0px 40px;
    margin-bottom: 5%;
}
.regions .ctn{
    margin-left: 30%;
   
}
/*Oxagena */

.explore{
width: 100%;
height: 100vh;
background-image: url(img/oxagon.jpg);
background-position:center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
display: flex;
align-items: center;
}
.explore-content{
width: 30vw;
height: 20vh;
align-items: center;
display: flex;
flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
    margin: 50px;
}
/*footer*/
.footer{
    width: 100%;
    height: 150px;
    padding: 20px 80px;
    margin: 0;
    background: #202020;
    text-align: center;
}

/**/
/* responsiv for mobile device*/
@media only screen and (max-width:850px){
    .menu{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #414146;
        margin-top: -900px;
        transition: all 0.5s;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 80%;
    }
    .nav-links li{
        margin: 30px auto;
    }
}