*{
    margin: 0;
    padding: 0;
    font-family:"Times New Roman", Times, serif;
    
}
.container{
    width:100vw;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background2.png);
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;

}
.navbar{
    height: 12vh;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu_icon{
    width: 30px;
    cursor: pointer;
margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88vh;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.col h1{
    color: #fff;
    font-size: 35px;
    
}
.col p{
    color: #fff;
    font-size: 15px;
    line-height: 16px;

}
.col button{
    width: 10vw;
    color: #000;
    font-size: 12px;
    padding: 6px 0;
    background: #fff;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin-top: 15px;
}
.card{
width: 200px;
height: 230px;
display: inline-block;
border-radius: 8px;
padding: 20px 25px;
box-sizing: border-box;
background-position: center;
background-size: cover;
transition: transform 0.5s;
margin: 10px;

}
.card1{
    background-image: url(img/theLine.jpg);

}.card2{
    background-image: url(img/leyja.jpg);

}.card3{
    background-image: url(img/oxagon.jpg);

}
.card4{
    background-image: url(img/trojena.jpg);

}
.card:hover{
    transform: translateY(-10px);
}
.card h5{
    text-shadow: 0 0 5px #999;
}
.card p{
color: #000;
    text-shadow: 0 0 5px #726d6d;

}